.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-content: flex-start;
  justify-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 64px 0px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .section {
    height: 100vh;
    align-content: space-between;
    padding: 40px;
  }
}
@media (min-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.text___6VnAs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 768px) {
  .text___6VnAs {
    display: none;
  }
}
.freeBox__zpDg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 768px) {
  .freeBox__zpDg {
    display: flex;
    flex-direction: column;
  }
}
.text__bEGi9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 768px) {
  .text__bEGi9 {
    display: block;
  }
}
.freeBox__fRkiP {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__fRkiP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 768px) {
  .freeBox__fRkiP {
    padding: 0px;
  }
}
@media (min-width: 768px) {
  .freeBox__fRkiP > :global(.__wab_flex-container) {
    margin-left: calc(0px - 4px);
    width: calc(100% + 4px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 768px) {
  .freeBox__fRkiP > :global(.__wab_flex-container) > *,
  .freeBox__fRkiP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fRkiP > :global(.__wab_flex-container) > picture > img,
  .freeBox__fRkiP
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 4px;
    margin-top: 0px;
  }
}
.button__dMnVc:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (min-width: 768px) {
  .button__dMnVc:global(.__wab_instance) {
    display: flex;
  }
}
.svg__kXqcV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__htJ5E {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
@media (min-width: 768px) {
  .text__oOldb {
    display: none;
  }
}
.freeBox___8YSnH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 768px) {
  .freeBox___8YSnH {
    justify-content: space-between;
    padding: 0px;
  }
}
.freeBox__ggjL {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ggjL > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 768px) {
  .freeBox__ggjL {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
  }
}
@media (min-width: 768px) {
  .freeBox__ggjL > :global(.__wab_flex-container) {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 768px) {
  .freeBox__ggjL > :global(.__wab_flex-container) > *,
  .freeBox__ggjL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ggjL > :global(.__wab_flex-container) > picture > img,
  .freeBox__ggjL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.freeBox__hs7Nf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 768px) {
  .freeBox__hs7Nf {
    left: 0px;
    z-index: 1;
    position: sticky;
    height: auto;
    bottom: 0px;
    width: 100%;
    right: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.textInput:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 768px) {
  .textInput:global(.__wab_instance) {
    display: flex;
  }
}
.svg__hu1Qd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
@media (min-width: 768px) {
  .svg {
    display: none;
  }
}
.button___4QkVp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mvG1H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__bVbJn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__c6Hff:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 768px) {
  .button__c6Hff:global(.__wab_instance) {
    display: none;
  }
}
.svg__wwOnw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___26Txm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__zftkE:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 768px) {
  .button__zftkE:global(.__wab_instance) {
    display: none;
  }
}
.svg__mGdRo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___78BX2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.timer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: none;
}
@media (min-width: 768px) {
  .timer:global(.__wab_instance) {
    display: flex;
  }
}
